
{% extends 'base.html' %}


{% block title %} Search Page {% endblock %}


{% block content %}
<h1>Search Page</h1>



<div class="mx-auto mt-5" style="width: 500px;">

    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p class="text-danger">{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}


    <form method="post">
        <div class="form-group">
          <input name="s" type="text" class="form-control" id="exampleInputSearch" aria-describedby="searchHelp" placeholder="Type for search . .">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Or Secelct a Type</label>
            <select name="value_type" class="form-control" id="exampleFormControlSelect1">
              <option value="">Select a type</option>
              <option value="DEFAUT_QUALITE">DEFAUT QUALITE</option>
              <option value="INFORMATION_AUX_UTILISATURS">INFORMATION AUX UTILISATURS</option>
              <option value="RAPPEL_DE_PRODUIT">RAPPEL DE PRODUIT</option>
            </select>
        </div>
        
        <button type="submit" id="button" class="btn btn-primary">Search</button>
    </form>
    
</div>

<div style="height: 100px;"></div>



<div id="add">
    <!-- <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div> -->
</div>




<script>
    $(document).ready(function(){
        $("button").click(function(){
            
            $("#add").append('<div> <p class="font-weight-bold">Searching...</p> <div class="spinner-grow" role="status"> <span class="sr-only">Loading...</span> </div> </div>')
        });
    });
</script>

{% endblock %}